<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EasyBilling.Properties.Settings.EasyBillingConnectionString"
            connectionString="Data Source=NAVYA\RELYONDB2008R2;Initial Catalog=EasyBilling;Persist Security Info=True;User ID=sa;Password=reladmin@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>